<% if @article.errors.any? %>
  <h2>These errors are in the way </h2>
  <ul>
      <% @article.errors.full_messages.each do | msg | %>
        <li> <%= msg %> </li>
        <% end %>
  </ul>
<% end %>